name: DevSecOps Full Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-secure-and-scan:
    runs-on: ubuntu-latest
    steps:
      # 1. Lấy code về
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Build Docker Image
      - name: Build Docker Image
        run: docker build -t website_v4 .

      # 3. Quét Image bằng Trivy (SAST/Container Security)
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'website_v4'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      # 4. Chạy thử website lên (Để chuẩn bị cho ZAP tấn công)
      - name: Run Container for DAST
        run: |
          docker run -d -p 8080:80 --name test_website website_v4
          sleep 5 # Đợi 5 giây để web khởi động xong

      # 5. Tấn công thử nghiệm bằng OWASP ZAP (DAST)
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: 'http://localhost:8080' # Tấn công vào container đang chạy ở bước 4
          fail_action: false # Không dừng pipeline nếu thấy lỗi (để xem báo cáo)
